.single-product{
    padding: 100px 0px 90px 0px;
    .content{
        padding-left: 80px;
        h2{
            font-family: Arimo,sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            color: #000;
            font-size: 45px;
            line-height: 1.044em;
            letter-spacing: .02em;
            word-wrap: break-word;
        }
        .rating{
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 11px;
            ul{
                display: flex;
                align-items: center;
                li{
                    font-size: 13px;
                    letter-spacing: .15em;
                    a{
                        color: #ffec4f;
                    }
                }
            }
            .customer-usr{
                margin-left: 5px;
                font-size: 14px;
                color: #a3a3a3;
                transition: color .25s ease-out;
                &:hover{
                    color: black;
                }
            }
        }
        .price{
            text-transform: uppercase;
            color: #a3a3a3;
            font-family: Arimo,sans-serif;
            font-size: 19px;
            margin-top: 2px;
        }
        .desc{
            padding-right: 80px;
            margin-top: 18px;
            font-family: Arimo,sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #6f6f6f;
        }
        form{
            position: relative;
            width: 100%;
            vertical-align: top;
            margin-top: 42px;
            display: flex;
            align-items: flex-start;
                .quatity{
                    position: relative;
                    display: flex;
                    align-items: center;
                    vertical-align: middle;
                    border: 1px solid #000;
                    margin-right: 15px;
                    .minus{
                        margin-left: 13px;
                        width: 26px;
                        height: 26px;
                        font-size: 20px;
                        border-left: 0;
                        cursor: pointer;
                    }
                    input{
                        position: relative;
                        height: 44px;
                        width: 46px;
                        margin: 0;
                        padding: 0;
                        font-family: inherit;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 1;
                        border: none;
                        outline: 0;
                        cursor: text;
                        border: none;
                        display: inline-block;
                        vertical-align: middle;
                        text-align: center;
                        user-select: none;
                        color: #000;
                    }
                    .plus{
                        margin-right: 13px;
                        font-size: 20px;
                        width: 26px;
                        height: 26px;
                        border-left: 0;
                        cursor: pointer;
                    }
                }
        }
        .button-add{
            .seeMore{
                @include button;
                padding: 10px 23px;
            }
        }   
        .product-meta{
            display: inline-block;
            width: 100%;
            vertical-align: top;
            margin-top: 44px;
            .sku,
            .ctgry,
            .tag{
                display: flex;
                align-items: baseline;
                margin-bottom: 3px;
                .label{
                    flex-shrink: 0;
                    margin-right: 18px;
                    font-family: Arimo,sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #000;
                    font-size: 15px;
                    letter-spacing: .03em;
                    line-height: inherit;
                }
                .value{
                    font-size: 14px;
                    color: #a3a3a3;
                }
                a{
                    transition: .3s linear;
                    &:hover{
                        color: black;
                    }
                }
            }
            
        }
    }
    .product-tab-nav{
        border-bottom: 1px solid #dee2e6;
        margin-top: 100px;
        justify-content: start;
        .nav-item{
            a{
                display: block;
                padding: 16px 38px 15px;
                transition: color .25s ease-out,background-color .25s ease-out;
                font-family: Arimo,sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 15px;
                line-height: 1.133em;
                letter-spacing: .03em;
                color: #000;
                &:hover{
                    color: #000;
                    background-color: #ffec4f;
                }
            }
            .active{
                color: #000;
                background-color: #ffec4f;
            }
        }
    }
    .product-tab-content{
        width: 100%;
        margin-top: 24px;
        .tab-pane{
            display: block;
            height: 0;
            max-width: 100%;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            .product-information-body{
                table{
                    width: 100%;
                    tbody{
                        tr{
                            th{
                                font-family: Arimo,sans-serif;
                                font-weight: 700;
                                text-transform: uppercase;
                                color: #000;
                                font-size: 15px;
                                line-height: 1.133em;
                                letter-spacing: .03em;
                                width: 200px;
                            }
                            td{
                                padding: 2px 0;
                                vertical-align: middle;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            .product-description-body{
                .short-desc{
                    padding-left: 50px;
                    font-family: Arimo,sans-serif;
                    font-size: 15px;
                    font-weight: 400;
                    color: #6f6f6f;
                }
            }
            .product-review-body{
                .blog-comment{
                    h3{
                        font-size: 21px;
                        line-height: 1.095em;
                        letter-spacing: .03em;
                        margin: 0;
                        font-family: Arimo,sans-serif;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #000;
                        word-wrap: break-word;
                    }
                    .comment-list{
                        display: inline-block;
                        width: 100%;
                        vertical-align: top;
                        margin: 22px 0 0;
                        padding: 0;
                        list-style: none;
                        li{
                            display: flex;
                            align-items: flex-start;
                            img{
                                flex-shrink: 0;
                                width: 80px;
                                margin: 0 20px 0 0;
                            }
                            .comment-text{
                                display: inline-block;
                                width: 100%;
                                vertical-align: top;
                                ul{
                                    display: flex;
                                    li{
                                        font-size: 13px;
                                        letter-spacing: .15em;
                                        a{
                                            color: #ffec4f;
                                        }
                                    }
                                }
                                .meta{
                                    strong{
                                        font-family: Arimo,sans-serif;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        color: #000;
                                        font-size: 15px;
                                        line-height: 1.133em;
                                        letter-spacing: .03em;
                                    }
                                    span{}
                                    time{}
                                }
                                .desc{}
                            }
                        }
                    }
                }
                .feedback-area{
                    margin-top: 60px;
                    h4{
                        display: block;
                        margin-bottom: 0;
                        font-family: Arimo,sans-serif;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #000;
                        font-size: 21px;
                        line-height: 1.095em;
                        letter-spacing: .03em;
                    }
                    form{
                        .comment-notes{
                            margin: 10px 0;
                        }
                        .rating{
                            margin-bottom: 17px;
                            ul{
                                display: flex;
                                li{
                                    font-size: 13px;
                                    letter-spacing: .15em;
                                    a{
                                        color: black;
                                    }
                                }
                            }
                        }
                        .from-comment{
                            textarea{
                                width: 100%;
                                padding: 12px 20px;
                                border: 1px solid #000;
                                display: inline-block;
                                width: 100%;
                                vertical-align: top;
                                margin: 0 0 12px;
                                font-family: inherit;
                                font-size: 15px;
                                line-height: 22px;
                                font-weight: inherit;
                                color: #6f6f6f;
                                background-color: transparent;
                                border-radius: 0;
                                outline: 0;
                                cursor: pointer;
                            }
                        }
                        .private{
                            input{
                                display: inline-block;
                                width: 100%;
                                vertical-align: top;
                                margin: 0 0 12px;
                                padding: 6px 0;
                                font-family: inherit;
                                font-size: 15px;
                                line-height: 22px;
                                font-weight: inherit;
                                color: #6f6f6f;
                                background-color: transparent;
                                border: none;
                                border-bottom: 1px solid #000;
                                border-radius: 0;
                                outline: 0;
                                cursor: pointer;
                            }
                        }
                        .form-check{
                            padding-left: 2.5em;
                            input{
                                box-shadow: none;
                                outline: none;
                            }
                            label{
                                margin: 0;
                                font-size: 14px;
                                color: #a3a3a3;
                            }
                        }
                        .button-add{
                            .seeMore{
                                @include button;
                                padding: 13px 40px;
                            }
                        }
                    }
                }
            }
        }
        .active{
            height: auto;
            visibility: visible;
            opacity: 1;
            overflow: visible;
            transition: all 0.3s ease 0s;
        }
    }
}
.main-shop{
    h3{
        font-family: Arimo,sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        font-size: 28px;
        line-height: 1.071em;
        letter-spacing: .03em;
        margin: 0 0 35px;
    }
}
